
body{
    display:flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin: 0;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

img{
    width: 100%;
    height: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header{
    background-color: #1F2937;
    padding: 0px 200px;
}

.links-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-right{
    display: flex;
    gap: 30px;
}

.hero{
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    gap: 50px;
    /* flex-wrap: wrap; */
    width: fit-content;

}

.awesome{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

.hero-sub{
    font-size: 18px;
    color: #E5E7EB
}

.top-button{
    background-color: #3882F6;
    padding: 10px 10px;
    border: none;
    text-decoration: none;
    text-align: center;
    color: #F9FAF8;
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
    max-width: 150px;
}



.random{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.img-info{
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.images{
    display: flex;
    justify-content: center;
    gap: 50px;
}


.images-text{
    max-width: 150px;
    text-align: center;
    color: #1F2937;
}

.info{
    padding-bottom: 100px;
}

.quote{
    background-color: #E5E7Eb;
    padding: 80px 20px;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    max-width: 760px;
    margin: auto;
}

.signature{
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    max-width: 760px;
    margin: auto;
}

.action-2{
    display: flex;
    background-color: #3882F6;
    color: white;
    border-radius: 20px;
    padding: 50px 150px;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 80px auto;
   
}

.call{
    font-size: 25px;
    font-weight: bold;
}

.sign-up{
    background-color: #3882F6;
    padding: 0 45px;
    border: solid 2px white;
    text-decoration: none;
    text-align: center;
    color: #F9FAF8;
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
}

.footer{
    background-color:#1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-2{
    color: white;
    padding: 25px 0
}